<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Service-ID Generator</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link" >Home</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
  <span class="navbar-text navbar-right">Angemeldet als <a href="#"><simple-user-info></simple-user-info></a></span>
  </div>
</nav>
<ngx-alerts></ngx-alerts>
<router-outlet></router-outlet>
